@use 'variables';

.container {
  min-width: 375px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: variables.$bg-color;
}

// .container {
//   background: url("../img/1093323.jpg"), linear-gradient(#383533,#1d2022);
//   background-blend-mode: normal;
//   background-size: cover;
// }

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  .header__title {
    font-family: variables.$font-principal;
    text-align: center;
    color: variables.$font-color;
  }
}

.btns {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  .btns__img {
    display: block;
    width: 50%;
  }

  .btns__group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .group__btn {
      padding: 1rem 2rem;
      margin-top: 1rem;
      width: 100%;
      font-family: variables.$font-secondary;
      font-size: 1.3rem;
      color: variables.$font-color;
      background: transparent;
      border: 2px solid variables.$btn-border-color;
      border-radius: 1.2rem;
    }
  }
}

.attribution {
  font-family: variables.$font-secondary;
  text-align: center;
  color: variables.$font-color;

  .attribution__link {
    text-decoration: none;
  }

  .attribution__link:link {
    color: variables.$link-color;
  }

  .attribution__link:visited {
    color: variables.$link-color;
  }

  .attribution__link:active {
    color: variables.$link-color;
  }
}