.body {
  width: calc(100vw - 4rem);
  padding: 2rem;
  background-color: #222831;
}

.attribution {
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.attribution__link {
  color: #EEEEEE;
  text-decoration: none;
}

.loader__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 40, 49, 0.7254901961);
}
.loader__container .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader__container .loader:before,
.loader__container .loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  -webkit-animation: 1s spin linear infinite;
          animation: 1s spin linear infinite;
}
.loader__container .loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@-webkit-keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.loader__hidden {
  display: none;
}

.form__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container__img {
  width: 50%;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.form .label {
  margin-bottom: 1rem;
  color: #fff;
}
.form .input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
}

.btn__group--form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.btn__group--form .btn {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 1rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .container__img {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .container__img {
    width: 15%;
  }
}/*# sourceMappingURL=add-operator.css.map */