:root {
  --bg-color: #0f0f10;
  --font-color: #fff;
  --font-principal: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --btn-border-color: #fff;
  --link-color: #b1b3b2;
}

.container {
  min-width: 375px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}
/** Header **/
.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header__title {
  font-family: var(--font-principal);
  text-align: center;
  color: var(--font-color);
}

/** Main **/

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main__img {
  display: block;
  width: 50%;
}

.info {
  margin-top: 1rem;
  font-family: var(--font-secondary);
  color: greenyellow;
}

.info--hidden {
  display: none;
}

.btn__group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.group__btn {
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  color: var(--font-color);
  background: transparent;
  border: 2px solid var(--btn-border-color);
  border-radius: 1.2rem;
}

.btn--link {
  text-align: center;
  text-decoration: none;
}

/** Attribution **/

.attribution {
  font-family: var(--font-secondary);
  text-align: center;
  color: var(--font-color);
}

.attribution__link {
  text-decoration: none;
}

.attribution__link:link {
  color: var(--link-color);
}

.attribution__link:visited {
  color: var(--link-color);
}

.attribution__link:active {
  color: var(--link-color);
}

/** Modal **/
.modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.form__container {
  padding: 1.2rem;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 1rem;
}

.container__img {
  display: block;
  width: 50%;
}

.form {
  font-family: var(--font-secondary);
  color: var(--font-color);
}

.label {
  margin: 1rem;
  display: block;
}

.input {
  display: block;
  color: inherit;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.warning--hidden {
  visibility: hidden;
}

.warning {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: red;
}

.btn__group--form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.btn--form {
  display: block;
  width: 50%;
  padding: 1rem 2rem;
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--font-color);
  border: 1px solid var(--btn-border-color);
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3rem;
  }

  .group__btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__img {
    width: 20%;
  }

  .btn__group {
    cursor: pointer;
  }

  .btn--form {
    cursor: pointer;
  }
}
