@use "../../config/colors" as color;
@use "../../config/fonts" as font;

.attribution {
  font-family: font.$primary-font;
  color: color.$primary-default-color;
  text-align: center;
  line-height: 1.5;
}